<h1>Listing Articles</h1>
<p>
  <h3><%= link_to 'ðŸ“ Create new article', new_article_path %> </h3>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @article.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'ðŸ“— View', article_path(article) %></td>
      <td></td>
      <td><%= link_to 'âœï¸ Edit', edit_article_path(article) %></td>
      <td></td>
      <td><%= link_to 'ðŸ—‘ Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>